@use "./variables" as *;
#about {
  &__a {
    .container {
      .content {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 2rem;
      }
    }
  }
  &__b {
    background-color: $dark-color;
    color: #fff;

    .container {
      .progress-wrapper {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        overflow: hidden;
        width: 100%;
        height: 30vh;
        gap: rem;
        .progress-name {
          text-align: start;
          .progress-background {
            background-color: #fff;
            border-radius: 4px;
            height: 15px;
            width: 100%;
            .progress-bar {
              background-color: $primary-color; /* dolu kısmın rengi */
              height: 100%;
              width: 0%; /* başlangıçta 0 olabilir, sonra değiştireceğiz */
              color: white;
              text-align: center;
              line-height: 20px; /* yükseklikle eşitleyerek ortala */
              transition: width 0.5s ease; /* dolarken animasyon */
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
  &__c {
    .brands {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      gap: 3rem;
    }
    .references{
      
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
  }

