@use "./variables" as *;
#contact {
  &__a {
    .contact-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      div {
        input {
          width: 100%;
          border: 0.1px dashed;
          padding: 0.5rem;
          border-radius: 3px;
        }
      }
      .message {
        grid-column: 1 / span 2;
        .message-textarea {
          width: 100%;
          height: 18.75rem;

          border: 0.1px dashed;
          padding: 0.5rem;
          border-radius: 3px;
        }
      }
      .form-btn {
        grid-column: 1 / span 2;
      }
    }
  }
  &__b {
    background-color: $primary-color;
    color: #fff;
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 13vh;
      align-items: center;
    }
  }
}


