@use "./variables" as *;
#contact {
  &__a {
    .contact-form {
      display: grid;
      grid-template-areas:
        "fname email"
        "subject phone-number"
        "message-textarea message-textarea"
        "form-btn form-btn";
      gap: 1rem;
      .fname {
        grid-area: fname;
      }
      .email {
        grid-area: email;
      }
      .subject {
        grid-area: subject;
      }
      .phone-number {
        grid-area: phone-number;
      }
      .message {
        grid-area: message-textarea;
      }
      .form-btn {
        grid-area: form-btn;
      }
      div {
        input {
          width: 100%;
          border: 0.1px dashed;
          padding: 0.5rem;
          border-radius: 3px;
        }
      }
      .message {
        // grid-column: 1 / span 2;
        .message-textarea {
          width: 100%;
          height: 18.75rem;

          border: 0.1px dashed;
          padding: 0.5rem;
          border-radius: 3px;
        }
      }
      .form-btn {
        // grid-column: 1 / span 2;
      }
    }
  }
  &__b {
    background-color: $primary-color;
    color: #fff;
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 13vh;
      align-items: center;
    }
  }
}
