// @use 'variables';
.main-nav {
  display: flex;
  justify-content: space-between;
   padding-top: 1rem;

  &__logo {
    width: 100px;
  }
  .main-nav__items {
    ul {
      li {
        a {
        }
      }
    }
  }
}

#header {
  &__home {
    background: url("../img/bg.jpeg") no-repeat center right/cover;
    height: 100vh;
    color: #fff;
    .container {
    }
    .header-content {
      text-align: center;
      padding-top: 30%;
      h1 {
        font-size: 4rem;
        line-height: 1.2rem;
      }
      .typewrite {
        display: block;
      }
      a {
      }
    }
  }
}
