@use "./variables" as *;
#home {
  // home section a
  &__a {
    .container {
      .skills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-bottom: 2.5rem;
        i {
          color: $primary-color;
        }
      }
    }
  }
  &__b {
    .container {
    }
    .achievements {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
        align-items: center;
        color: $dark-color;
        
        
        li{
            &.title{
                font-size: 1.5rem;
            }
            &.number{
                font-size: 2rem;
                font-weight: bold;
            }
        }    
        div {
            padding: 3rem 0;
            &:nth-child(odd){
            background-color: $light-color;
        }
            &:nth-child(even){
            background-color: $medium-color;
        }
        }
    }
  }
}
