@use "./variables" as *;
#home {
  // home section a
  &__a {
    .container {
      .skills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-bottom: 2.5rem;
        i {
          color: $primary-color;
        }
      }
    }
  }
  &__b {
    .container {
    }
    .achievements {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
        align-items: center;
        color: $dark-color;
        
        
        li{
            &.title{
                font-size: 1.5rem;
            }
            &.number{
                font-size: 2rem;
                font-weight: bold;
            }
        }    
        div {
            padding: 3rem 0;
            &:nth-child(odd){
            background-color: $light-color;
        }
            &:nth-child(even){
            background-color: $medium-color;
        }
        }
    }
  }
  &__c{
    .container{
      .steps{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1.5rem;
        text-align: center;
        .process {
          &-icon{
            background-color: $dark-color;
            color: #fff;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 125px;
            width: 125px;
            border-radius: 50%;
            margin: 0 auto;
            transition: all .5s;
            &:hover{
              
              background-color: $primary-color;
              .process-step{
                background-color: $dark-color;
              }
            }
          }
          &-step{
            position: absolute;
            font-size: 1rem;
            background-color: $primary-color;
            border-radius: 100%;
            padding: 0.5rem;
            top: 0;
            right: 0;
            transition: all .5s;
            padding: 0.72rem .8rem;
            
          }
        }
      }
    }
  }
}
