@charset "UTF-8";
.container {
  max-width: 1200px;
  padding: 0 1.4rem;
  margin: auto;
}

.btn-dark, .btn-light, .btn-primary {
  display: inline-block;
  padding: 0.7rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-primary {
  color: #333;
  background-color: #EF6D6D;
}
.btn-light {
  color: #333;
  background-color: #f4f4f4;
}
.btn-dark {
  color: #fff;
  background-color: #333;
}

button[class^=btn-]:hover,
a[class^=btn-]:hover,
input[class^=btn-]:hover {
  background-color: #EF6D6D;
}

.bg-dark {
  background-color: #333;
}
.bg-primary {
  background-color: #EF6D6D;
}
.bg-light {
  background-color: #f4f4f4;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  text-transform: capitalize;
}

.border-bottom {
  height: 3px;
  width: 3rem;
  background-color: #EF6D6D;
  margin: 1rem auto;
}

.lead {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  word-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  font-family: "Prompt", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.main-nav__logo {
  width: 100px;
}
.main-nav__items {
  display: flex;
}
.main-nav__items li {
  padding: 1rem 1.5rem;
}
.main-nav__items li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
.main-nav__items li a:hover {
  border-color: #ccc;
}
.main-nav__items li a.active {
  border-color: #EF6D6D;
}

#header__home {
  background: url("../img/bg.jpeg") no-repeat center right/cover;
  height: 100vh;
  color: #fff;
}
#header__home .header-content {
  text-align: center;
  padding-top: 30%;
}
#header__home .header-content h1 {
  font-size: 4rem;
  line-height: 3.7rem;
}
#header__home .header-content .typewrite {
  display: block;
  margin: 1rem 0 1rem 0;
}
#header__about {
  background: url("../img/bg.jpeg") no-repeat top right/cover;
  height: 14vh;
  color: #fff;
  border-bottom: 2px solid #EF6D6D;
}
#header__about .main-nav__items {
  margin-top: 1rem;
}

#home__a .container .skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 2.5rem;
}
#home__a .container .skills i {
  color: #EF6D6D;
}
#home__b .achievements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  color: #333;
}
#home__b .achievements li.title {
  font-size: 1.5rem;
}
#home__b .achievements li.number {
  font-size: 2rem;
  font-weight: bold;
}
#home__b .achievements div {
  padding: 3rem 0;
}
#home__b .achievements div:nth-child(odd) {
  background-color: #f4f4f4;
}
#home__b .achievements div:nth-child(even) {
  background-color: #ccc;
}
#home__c .container .steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  text-align: center;
}
#home__c .container .steps .process-icon {
  background-color: #333;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.5s;
}
#home__c .container .steps .process-icon:hover {
  background-color: #EF6D6D;
}
#home__c .container .steps .process-icon:hover .process-step {
  background-color: #333;
}
#home__c .container .steps .process-step {
  position: absolute;
  font-size: 1rem;
  background-color: #EF6D6D;
  border-radius: 100%;
  padding: 0.5rem;
  top: 0;
  right: 0;
  transition: all 0.5s;
  padding: 0.72rem 0.8rem;
}

#about__a .container .content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}
#about__b {
  background-color: #333;
  color: #fff;
}
#about__b .container .progress-wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  overflow: hidden;
  width: 100%;
  height: 30vh;
  gap: rem;
}
#about__b .container .progress-wrapper .progress-name {
  text-align: start;
}
#about__b .container .progress-wrapper .progress-name .progress-background {
  background-color: #fff;
  border-radius: 4px;
  height: 15px;
  width: 100%;
}
#about__b .container .progress-wrapper .progress-name .progress-background .progress-bar {
  background-color: #EF6D6D; /* dolu kısmın rengi */
  height: 100%;
  width: 0%; /* başlangıçta 0 olabilir, sonra değiştireceğiz */
  color: white;
  text-align: center;
  line-height: 20px; /* yükseklikle eşitleyerek ortala */
  transition: width 0.5s ease; /* dolarken animasyon */
  border-radius: 4px;
}
#about__c .brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 3rem;
}
#about__d .container .references .card {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}
#about__d .container .references .card ul {
  list-style: none;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
#about__d .container .references .card ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
#footer {
  background-color: #333;
}
#footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  color: #fff;
}
#footer .container .socials ul {
  display: flex;
  flex-direction: row;
  right: 0;
  justify-content: flex-end;
}
#footer .container .socials ul li a {
  color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 0.3rem 0.4rem;
  margin: 0 0.5rem;
  transition: all 0.5s;
  text-align: center;
}
#footer .container .socials ul li a:hover {
  background-color: #fff;
  color: #333;
}

#projects__a .container .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1rem;
}
#projects__a .container .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
#projects__a .container .cards .card .card__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 180%;
  height: 180%;
  transform-origin: top right;
  transform: translate(-48%, 23%) rotate(0deg);
  transition: transform 0.4s ease;
}
#projects__a .container .cards .card .card__arrow i {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.5rem;
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
#projects__a .container .cards .card .card__arrow::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg, rgba(226, 25, 25, 0.9), rgba(161, 6, 6, 0.2));
  transform-origin: top right;
  transform: translate(2%, 4.2%) rotate(45deg);
}
#projects__a .container .cards .card .card__arrow:hover {
  transform: translate(-3%, -2%) rotate(-45deg);
}
#projects__a .container .cards .card .card__arrow:hover i {
  opacity: 1;
}

#contact__a .contact-form {
  display: grid;
  grid-template-areas: "fname email" "subject phone-number" "message-textarea message-textarea" "form-btn form-btn";
  gap: 1rem;
}
#contact__a .contact-form .fname {
  grid-area: fname;
}
#contact__a .contact-form .email {
  grid-area: email;
}
#contact__a .contact-form .subject {
  grid-area: subject;
}
#contact__a .contact-form .phone-number {
  grid-area: phone-number;
}
#contact__a .contact-form .message {
  grid-area: message-textarea;
}
#contact__a .contact-form .form-btn {
  grid-area: form-btn;
}
#contact__a .contact-form div input {
  width: 100%;
  border: 0.1px dashed;
  padding: 0.5rem;
  border-radius: 3px;
}
#contact__a .contact-form .message .message-textarea {
  width: 100%;
  height: 18.75rem;
  border: 0.1px dashed;
  padding: 0.5rem;
  border-radius: 3px;
}
#contact__b {
  background-color: #EF6D6D;
  color: #fff;
}
#contact__b .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 13vh;
  align-items: center;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .main-nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .main-nav__logo {
    width: 50px;
  }
  .main-nav__items {
    align-items: center;
  }
  #header__home {
    height: 65vh;
  }
  #header #home__a .container .skills {
    grid-template-columns: repeat(2, 1fr);
  }
  #header #home__b .achievements {
    grid-template-columns: repeat(2, 1fr);
  }
  #header #home__c .container .steps {
    grid-template-columns: repeat(2, 1fr);
  }
  #header__about {
    height: 16vh;
  }
  #projects__a .container .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
  .main-nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .main-nav__logo {
    width: 50px;
  }
  .main-nav__items {
    align-items: center;
  }
  #header__home {
    height: 43vh;
  }
  #header__home .header-content {
    padding-top: 3rem;
  }
  #header__home .header-content h1 {
    font-size: 3rem;
  }
  #home__a .container .skills {
    grid-template-columns: repeat(1, 1fr);
  }
  #home__a .container .skills div {
    border-bottom: 4px solid #ccc;
    padding-bottom: 1rem;
  }
  #home__a .container .skills div:last-child {
    border: none;
  }
  #home__b .achievements {
    grid-template-columns: repeat(1, 1fr);
  }
  #home__c .container .steps {
    grid-template-columns: repeat(1, 1fr);
  }
  #home__c .container .steps div {
    border-bottom: 4px solid #ccc;
    padding-bottom: 1rem;
  }
  #home__c .container .steps div:last-child {
    border: none;
  }
  #home #about__a .container .content {
    grid-template-columns: 1fr;
  }
  #home #about__c .brands {
    grid-template-columns: repeat(2, 1fr);
  }
  #home #projects__a .container .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  #home #projects__a .container .cards .card .card__arrow {
    transform: translate(-48%, 23%) rotate(0deg);
  }
  #home #projects__a .container .cards .card .card__arrow::before {
    content: "";
    transform: translate(2%, 2.6%) rotate(45deg);
  }
  #home #projects__a .container .cards .card .card__arrow:hover {
    transform: translate(-3%, -2%) rotate(-45deg);
  }
  #home #projects__a .container .cards .card .card__arrow:hover i {
    opacity: 1;
  }
  #home #contact__a .contact-form {
    grid-template-areas: "fname" "email" "subject" "phone-number" "message-textarea" "form-btn";
  }
  #home #contact__b .container {
    grid-template-columns: 1fr;
    height: 19vh;
  }
  #home #contact__b .container .contact-inf {
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #f4f4f4;
  }
}

/*# sourceMappingURL=main.css.map */
